.del{
    background: rgb(182, 1, 1);
    color: #ffff;
    float: right;
    padding: 5px 9px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.todo{
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}

.is-completed{
    text-decoration: line-through;
}